
body{
    background-color:#1bafdb;
}



div.gradient-border {
    width: 33%;
    height: 5px;
    position: absolute;
    top: 15%;
    left: 34%;
    margin: 1px ;
    background: linear-gradient(to right,  hsla(217, 69%, 5%, 0.4), hsla(180, 96%, 30%, 0.4));
}

button {
    border:none;
    outline:none;
    width: 33%;
    display:inline-block;
    font-size:1.1em;
    font-style: italic;
    font-weight: bold;
    cursor:pointer;
    text-decoration:none;
    padding: 40px;
    border-radius:50px;
    color: hsla(216, 97%, 47%, 0.678);
    background-color:linear-gradient(to right,  #61bdda,rgb(175, 240, 237));
    border: 1px solid hsla(216, 97%, 47%, 0.678);
    transition: all .2s ease-in-out;
}
button {   transition-duration: 0.4s; margin: 5px;}
button:hover {
    font-size:1.6em;
    transform: scale(1.03);
}

#myButtons {
    display: flex;
    flex-direction: column;
}
#myButtons {
    border: 5px ;
    position: absolute;
    top: 0%;
    right: 5%;
    transform: translate(0, -50%);
    padding: 10px;
    display: flex;
    flex-direction: column; /* Stack the child elements vertically */
}
#optionsMenu {
    border: 5px ;
    position: absolute;
    top: 50%;
    right: 45%;
    transform: translate(0, -50%);
    padding: 0px;
    display: flex;
}

#gameNameWelcome{
    font-family: italic;
    text-align: center;
    position: absolute;
    font-size: 4rem;
    top: 3%; /* Center vertically */
    left: 34%;
    color:  hsla(217, 69%, 5%, 0.4);
}
#gameNameWelcome span {
    font-style: italic;
    color:  hsla(216, 97%, 47%, 0.678);
}

