/*****************************************************************
******************LeaderBoard Styling Below***********************
*****************************************************************/
#leaderboard {
    display: none;
    background-color: #c1e7f3;
    border: 1px solid #ccc;
    padding: 10px;
    position: absolute;
    top: 10%;
    left: 45%;
    font-style: italic;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  #scoreList {
    list-style: none;
    padding: 0;
  }
  
  #scoreList li {
    margin: 5px;
    font-size: 16px;
    font-style: italic;
  }
  /* Style for the leaderboard pop-up */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    position: absolute;
    top: 20%;
    left: 40%;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}